* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Left default vite styles for root*/
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #343434;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	padding: 10px;
}

.alarm {
	background-color: #d43f3a;
}

.alarm:hover {
	background-color: #af2b27;
}

.alarm:active {
	background-color: #621916;
}
