.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 500px) {
		flex-direction: column;
		align-items: flex-start;

		span {
			margin-bottom: 10px;
		}
	}
}

.loginButton {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 0;
}

.logoutButton {
	background-color: rgb(171, 0, 0);
}
